{%extends 'parent.html' %}


{%block Title%}add Trainee{%endblock%}



{% block content %}

<form class="form container mt-4">

    <div class="mb-3">
        <label class="form-label" >Enter ID</label>
        <input type="number" name="id" class="form-control" placeholder="Please Enter Your ID">
    </div>

    <div class="mb-3">
        <label class="form-label">Enter Name</label>
        <input type="text" name="name"  class="form-control" placeholder="Please Enter Your Name">
    </div>

    <div class="mb-3">
        <label class="form-label">Enter Email</label>
        <input type="email" class="form-control" name="email"  placeholder="Please Enter Your Email">
    </div>

    <button type="submit" class="btn btn-success w-100">Submit</button>
</form>

{% endblock %}
